body {
	text-align: center;
	background: url(https://github.com/allisonkrier01/allisonkrier01.github.io/blob/master/unit_3/images/necklace.jpg);
	background-size: cover;
	font-family: Proxima Nova;
	font-size: 20px;
}
title {
	font-family: Nixie One;
	font-size: 30px;

}